@model FoodCatalog.Models.Products
@{ ViewBag.Title = "Удаление продукта"; }

<div>
    <dl class="dl-horizontal">
        <dt>Продукт</dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>Описание</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>


    <div>
        <form asp-controller="Home" asp-action="DeleteProduct" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Удалить" />
            </div>
        </form>
    </div>
</div>